@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
#root {
    @apply font-sans bg-cover bg-center h-screen flex items-center justify-center;
    background-image: url('src/assets/image/background-img.jpg');
}

.container {
    @apply flex w-[70vw] h-[80vh] bg-gray-200 bg-opacity-90 rounded-xl overflow-hidden shadow-lg transition-all duration-500 ease-in-out;
}

.welcome-section {
    @apply grow-[3] flex flex-col items-center justify-center p-5 transition-all duration-500 ease-in-out;
}

.welcome-section h1 {
    @apply font-timesNew text-black text-5xl mb-12;
}

#main-image {
    @apply w-full max-w-[600px] h-auto;
}

.form-section {
    @apply grow-[3] p-8 bg-gray-300 flex flex-col items-center justify-center transition-all duration-500 ease-in-out;
}

/* Form Containers */
.form-container {
    @apply flex flex-col items-center justify-center w-full max-w-[350px];
}

.forgot-password {
    @apply font-bold text-base mb-5;
}

.form-container h1 {
    @apply text-gray-800 mb-12 font-poppins text-[2em] font-bold text-center;
}

.form {
    @apply w-full flex flex-col;
}

label {
    @apply mb-2 text-base font-bold text-gray-800;
}

input, select {
    @apply p-2 mb-4 border border-gray-300 rounded-lg text-base text-gray-800;
}

button {
    @apply bg-black text-white py-3 px-5 rounded-full text-base font-bold cursor-pointer mb-5;
}

button:hover {
    @apply bg-gray-600;
}

p {
    @apply text-sm text-gray-600 font-bold;
}

p a {
    @apply text-blue-500 no-underline;
}

/* Transition Effects */
#login-form, #registration-form {
    @apply transition-opacity duration-300 ease-in-out transform;
}

/* Slide-In for Login */
.slide-in-right {
    @apply block opacity-100 translate-x-0 animate-slideInRight;
}

/* Slide-Out to Left */
.slide-out-left {
    @apply opacity-0 translate-x-[-100%] animate-slideOutLeft;
}

/* New transition for container */
.container-signup {
    /*@apply transform translate-x-[-50%]; !*off*!*/
}

.welcome-section-signup {
    @apply transform translate-x-[60%]; /* Shift welcome section to the right */
}

.form-section-signup {
    @apply transform translate-x-[-160%]; /* Shift form section to the left */
}

/* Keyframes for Slide-In */
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Keyframes for Slide-Out */
@keyframes slideOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        /*transform: translateX(-100%);*/
    }
}

/* Utility for Animations */
@layer utilities {
    .animate-slideInRight {
        animation: slideInRight 0.3s ease-in-out;
    }
    .animate-slideOutLeft {
        animation: slideOutLeft 0.3s ease-in-out;
    }
}
